<p>formulaire-form-control works!</p>

<div>
    <form (ngSubmit)="onSubmitFirst()" [formGroup]="userProfile">
        <h3>
            Premier formulaire
        </h3>

        <label>
            Nom :
            <input type="text" formControlName="nom">
        </label>

        <label>
            Prénom :
            <input type="text" formControlName="prenom">
        </label>
        <button type="submit"> Envoyer au second formulaire </button>
    </form>

    <form (ngSubmit)="onSubmitSecond()" [formGroup]="newUserProfile">
        <h3>
            Premier formulaire
        </h3>

        <label>
            Nom :
            <input type="text" formControlName="nom">
        </label>

        <label>
            Prénom :
            <input type="text" formControlName="prenom">
        </label>
        <button type="submit"> Envoyer en console </button>
    </form>
</div>